<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TO DO APP</title>
</head>
<body>

    <h1> TO DO APP </h1>

    <!-- 
        Front page of app 
        Enter login info
        Login + fetch their todo list 
        To do list appears 

    -->

    <!-- 
        First page
        To Do app + log in 
        Text field for user name and pw 
        Need to ensure if no user name -> no such user found  
    -->
    
</body>
</html>